.background {
    viewport-fill: #e0dbbe;
}

line {
    stroke-linecap: round;
}

.color-primary {
    fill: #f57d26;
}

.color-inverse {
    fill: #334764;
}

.color-white {
    fill: white;
}

.color-light-gray {
    fill: #dddddd;
}

.font-date {
    font-family: "Fabrikat-Black";
    width: 40;
    height: 40;
    font-size: 30;
    text-anchor: middle;
}


