.background {
    viewport-fill: #e0dbbe;
}

.color-primary {
    fill: #f57d26;
}

.color-inverse {
    fill: #334764;
}

.color-white {
    fill: white;
}

.color-light-gray {
    fill: #dddddd;
}

.font-date {
    font-family: "Fabrikat-Black";
    width: 40;
    height: 40;
    font-size: 30;
    text-anchor: middle;
}

line {
    stroke-linecap: round;
}

line.time-hand {
    fill: white;
    x1: 0;
    y1: 0;
    x2: 0;
    y2: -10%-3;
    stroke-width: 3;
}

line.minutes-hand-back {
    fill: white;
    x1: 0;
    y1: -8%;
    x2: 0;
    y2: -46%;
    stroke-width: 9;
}

line.minutes-hand {
    fill: #f57d26;
    x1: 0;
    y1: -8%-1;
    x2: 0;
    y2: -46%+1;
    stroke-width: 6;
}

line.hours-hand-back {
    fill: white;
    x1: 0;
    y1: -8%;
    x2: 0;
    y2: -32%;
    stroke-width: 9;
}

line.hours-hand {
    fill: #f57d26;
    x1: 0;
    y1: -8%-1;
    x2: 0;
    y2: -32%+1;
    stroke-width: 6;
}